@import "variables";
@import "base";
@import "footer";
@import "text";

body {
  margin: 0;
  margin-top: 56px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // these properties needed on body to get "always on bottom footer" (see https://codepen.io/cbracco/pen/zekgx)
  // position: relative;
  // padding-bottom: 6rem;
  // min-height: 100%;
}


.Home {
  text-align: center;

  height: 100%;
}

#lbp-home{
  padding-top: 50px;
  background: #fff url("http://localhost:3000/coverimage.jpg") repeat center top;
  height: 90vh;

}

#lbp-jumbo{

  opacity: .8;
  background-color: $light
}

.sideWindow{
  position: fixed;
  width: 40%;
  left: 0;
  top: 0;
  background-color: $dark;
  z-index: 1;
  margin-top: 56px;
  height: 100vh;
  overflow: scroll;
  transition: width 2s;
  box-shadow: 0px 0px 5px black;
  padding-bottom: 40%;



}
// .SideWindowClosed{
//   width: 0;
//   transition: 'width 0.5s'
// }
.bottomWindow{
  position: fixed;
  height: 40%;
  top: 60%;
  background-color: $dark;
  z-index: 2;
  width: 100%;
  overflow: scroll;
  transition: width 2s;
  box-shadow: 0px 0px 5px black;

}
// .BottomWindowClosed{
//   width: 0;
//   transition: 'width 0.5s'
// }

//sets min width on first column of table
table.table.table-striped tr > td:first-child {
    width:20%;
}

//surface navigation controls
.surface-navigation{
  display: flex;
  justify-content: flex-start;
  width: 1000px;
  text-align: center
}
.surface-navigation p{
  padding: 0 10px
}
