@import "variables";
@import "base";
@import "footer";
@import "text";

.Home {
  text-align: center;

  height: 100%;
}

#lbp-home{
  padding-top: 50px;
  background: #fff url("http://localhost:3000/coverimage.jpg") repeat center top;
  height: 90vh;

}

#lbp-jumbo{

  opacity: .8;
  background-color: $light
}

.SideWindow{
  position: fixed;
  width: 40%;
  left: 0;
  top: 0;
  background-color: $dark;
  z-index: 1;
  height: 100vh;
  overflow: scroll;
  transition: width 2s;
  box-shadow: 0px 0px 5px black;
  padding-bottom: 40%;



}
// .SideWindowClosed{
//   width: 0;
//   transition: 'width 0.5s'
// }
.BottomWindow{
  position: fixed;
  height: 40%;
  top: 60%;
  background-color: $dark;
  z-index: 2;
  width: 100%;
  overflow: scroll;
  transition: width 2s;
  box-shadow: 0px 0px 5px black;
  
}
// .BottomWindowClosed{
//   width: 0;
//   transition: 'width 0.5s'
// }

//sets min width on first column of table
table.table.table-striped tr > td:first-child {
    width:20%;
}
