.etitle{
  border-left: 3px solid blue;
  padding-left: 3px;
}
.mtitle{
  border-left: 3px solid red;
  padding-left: 10px;
  margin-left: 10px;
}
.ttitle{
  border-left: 3px solid purple;
  padding-left: 20px;
  margin-left: 20px;

}
.citation-manifestation-options{

}
